[submodule "plugins/steam-browser-history"]
	path = plugins/steam-browser-history
	url = https://github.com/ricewind012/steam-browser-history
[submodule "plugins/adamraichu.auto-accept-custom-launch-args"]
	path = plugins/adamraichu.auto-accept-custom-launch-args
	url = https://github.com/AdamRaichu/auto-accept-custom-launch-args
[submodule "plugins/millennium-faceit-stats"]
	path = plugins/millennium-faceit-stats
	url = https://github.com/alowave/millennium-faceit-stats
[submodule "plugins/aerothemesteam"]
	path = plugins/aerothemesteam
	url = https://github.com/ricewind012/aerothemesteam
[submodule "plugins/achievement-groups"]
	path = plugins/achievement-groups
	url = https://github.com/BossSloth/SteamHunter-plugin
[submodule "plugins/dwmx"]
	path = plugins/dwmx
	url = https://github.com/shdwmtr/dwmx
[submodule "plugins/steam-librarian"]
	path = plugins/steam-librarian
	url = https://github.com/luthor112/steam-librarian.git
[submodule "plugins/steam-easygrid"]
	path = plugins/steam-easygrid
	url = https://github.com/luthor112/steam-easygrid.git
[submodule "plugins/steam-taskbar-progress"]
	path = plugins/steam-taskbar-progress
	url = https://github.com/luthor112/steam-taskbar-progress.git
[submodule "plugins/steam-logo-pos"]
	path = plugins/steam-logo-pos
	url = https://github.com/luthor112/steam-logo-pos.git
[submodule "plugins/steam-collections-plus"]
	path = plugins/steam-collections-plus
	url = https://github.com/luthor112/steam-collections-plus.git
[submodule "plugins/non-steam-playtimes"]
	path = plugins/non-steam-playtimes
	url = https://github.com/k0d13/steam-non-steam-playtimes
[submodule "plugins/fullscreen-notifications-fix"]
	path = plugins/fullscreen-notifications-fix
	url = https://github.com/k0d13/steam-fullscreen-notifications-fix
[submodule "plugins/csstats-extension"]
	path = plugins/csstats-extension
	url = https://github.com/TOR968/csstats-extension.git
[submodule "plugins/leetify-extension"]
	path = plugins/leetify-extension
	url = https://github.com/TOR968/leetify-extension
[submodule "plugins/cswatch-plugin"]
	path = plugins/cswatch-plugin
	url = https://github.com/Leon135/cswatch-plugin.git
[submodule "plugins/extendium"]
	path = plugins/extendium
	url = https://github.com/BossSloth/Extendium
[submodule "plugins/valve-internal-enabler"]
	path = plugins/valve-internal-enabler
	url = https://github.com/veygax/valve-internal-enabler
[submodule "plugins/dotastats"]
	path = plugins/dotastats
	url = https://github.com/BambooFury/Dota-Stats.git
[submodule "plugins/hltb-millennium-plugin"]
	path = plugins/hltb-millennium-plugin
	url = https://github.com/jcdoll/hltb-millennium-plugin
[submodule "plugins/steam-change-window-params"]
	path = plugins/steam-change-window-params
	url = https://github.com/ricewind012/steam-change-window-params
[submodule "plugins/RSS-feed-in-whats-new"]
	path = plugins/RSS-feed-in-whats-new
	url = https://github.com/diemonic1/RSS-feed-in-whats-new
[submodule "plugins/steam-global-launch-options"]
	path = plugins/steam-global-launch-options
	url = https://github.com/BlafKing/steam-global-launch-options.git
[submodule "plugins/size-on-disk"]
	path = plugins/size-on-disk
	url = https://github.com/k0d13/steam-size-on-disk
[submodule "plugins/gratitude"]
	path = plugins/gratitude
	url = https://github.com/BlythT/Gratitude-Millennium-Plugin
[submodule "plugins/millennium-uwp-library-sync"]
	path = plugins/millennium-uwp-library-sync
	url = https://github.com/xwxfox/millennium-uwp-library-sync
